.nav-item .nav-link.active {
    border-bottom: 3px solid var(--bs-dark);
}

.bottom-menu {
    text-decoration: none;
    padding-bottom: 3px;
}
.bottom-menu.active {
    border-bottom: 3px solid var(--bs-light);
}