.nav-item .nav-link.active {
    border-bottom: 3px solid var(--bs-dark);
}

.bottom-menu-container {
	margin-right: 1rem;
}

ul.bottom-menu {
	flex-direction: row;
	list-style: none inside none;
	text-align: right;
}

ul.bottom-menu .list-group-item {
	padding: 0;
	border: none;
}

ul.bottom-menu .list-group-item a {
	padding-left: 0;
	margin-left: 0;
	text-decoration: none;
}

ul.bottom-menu .list-group-item a.active {
    padding-bottom: 2px;
	border-bottom: 2px solid var(--bs-light);
}