django==6.0.2
django-admin-sortable2==2.3.1
django-bootstrap5==26.1
django-bootstrap-icons==0.9.0
django-filebrowser-no-grappelli==4.0.2
django-lite-cms-core==0.0.9
django-mptt==0.18.0
django-mptt-admin==2.9.0
django-tinymce==5.0.0
Pillow==12.1.0
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
ruff==0.15.0
coverage==7.13.3
Faker==40.1.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1