{% load menu_tags mptt_tags bootstrap_icons %}

<div class="row bottom-menu-container">
    {% recursetree pages %}
    {% with node as page %}
    <div class="bottom-menu-container float-end">
        <ul class="bottom-menu root list-group">
            {% recursetree pages %}
            {% with node as page %}
            <li class="list-group-item bg-transparent text-light">
                {% if page.static %}
                <span class="static">
                    {% if page.icon %}{% bs_icon page.icon size='20' %}{% endif %}
                    {{ page.name }}
                </span>
                {% else %}
                <a href="{{ page.get_absolute_url }}"
                    {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
                    {% if page.icon %}{% bs_icon page.icon size='20' %}{% endif %}
                    {{ page.name }}
                </a>
                {% endif %}
                {% if not page.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
            {% endwith %}
            {% endrecursetree %}
        </ul>
    </div>


    <div class="col bg-transparent text-light text-center">
        {% if page.static %}
        <span class="static">
            {% if page.icon %}{% bs_icon page.icon size='20' %}{% endif %}
            {{ page.name }}
        </span>
        {% else %}
        <a href="{{ page.get_absolute_url }}" class="bottom-menu {% get_active page %}"
            {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
            {% if page.icon %}{% bs_icon page.icon size='20' %}{% endif %}
            {{ page.name }}
        </a>
        {% endif %}
        {% if not page.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
        {% endif %}
    </div>
    {% endwith %}
    {% endrecursetree %}
</div>
