{% load menu_tags mptt_tags %}

<div class="row bottom-menu-container">
    {% recursetree pages %}
    {% with node as page %}
    <div class="col bg-transparent text-light text-center">
        {% if lite_cms_page.static %}
        <span class="static">
            {% if lite_cms_page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
            {{ page.name }}
        </span>
        {% else %}
        <a href="{{ page.get_absolute_url }}" class="bottom-menu"
            {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
            {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
            {{ page.name }}
        </a>
        {% endif %}
        {% if not page.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
        {% endif %}
    </div>
    {% endwith %}
    {% endrecursetree %}
</div>
