{% load menu_tags mptt_tags %}
{% recursetree pages %}
{% with node as page %}
{% if page.login_required and request.user.is_authenticated or not page.login_required %}
    {% if page.is_leaf_node %}
        {% if page.level == 0 %}
        <li class="nav-item">
            {% if page.static %}
            <span class="static">
                {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
                {{ page.name }}
            </span>
            {% else %}
            <a class="nav-link {% get_active page %}" href="{{ page.get_absolute_url }}"
                {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
                {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
                {{ page.name }}
            </a>
            {% endif %}
        </li>
        {% else %}
        <li>
            <a class="dropdown-item {% get_active page %}" href="{{ page.get_absolute_url }}"
                {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
                {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
                {{ page.name }}
            </a>
        </li>
        {% endif %}
    {% else %}
        {% if page.level == 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% get_active page %}{% get_active_parent page %}" id="{{ page.slug }}" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
                {{ page.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ page.slug }}">
                {{ children }}
            </ul>
        </li>
        {% else %}
        <li>
            <a class="dropdown-item {% get_active page %}" href="{{ page.get_absolute_url }}"
                {% if page.ext %}target="_blank" rel="noopener"{% endif %} title="{{ page.title }}">
                {% if page.icon %}<i class="{{ page.icon }}"></i>{% endif %}
                {{ page.name }}
            </a>
        </li>
        {% endif %}
    {% endif %}
{% endif %}
{% endwith %}
{% endrecursetree %}
